.icon-svg-close{
  width: 20px;
  height: 20px;
}

.membership-alert{
  border: 1px solid #f2f2f2;
  padding: 15px 20px;
  background: #f8f8f8;
}

@media (min-width: 1200px){
  .modal-lg, .modal-xl {
    --bs-modal-width: 1140px;
  }
}
