.select2-container--default .select2-selection--single {
  background: transparent;
  border-color: #838383;
  border-radius: .375rem;
  height: 46px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 46px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 46px;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
  padding:.375rem .75rem;
}
.select2-container{
  display: block;
}
