.info{
  &-card{
    padding: 15px;
    border: 1px solid $color-primary2;
    border-radius: 0.4rem;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -4px rgb(0 0 0 / 10%);

    &-list{
      .info{
        &-card{
          &:first-child{

            //&.added{
            //  .info{
            //    &-card{
            //      &-foot{
            //        margin-bottom:-30px;
            //        .btn{
            //          &-remove{
            //            display: inline-block;
            //          }
            //        }
            //      }
            //    }
            //  }
            //}
            //
            //.info{
            //  &-card{
            //    &-foot{
            //      margin-bottom:0;
            //      .btn{
            //        &-remove{
            //          display: none;
            //        }
            //      }
            //    }
            //  }
            //}
          }

          &.only-one-row{
            &.added{
              .info{
                &-card{
                  &-foot{
                    margin-bottom:-30px;
                    .btn{
                      &-remove{
                        display: inline-block;
                      }
                    }
                  }
                }
              }
            }

            .info{
              &-card{
                &-foot{
                  margin-bottom:0;
                  .btn{
                    &-remove{
                      display: none;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    &-title{
      margin-top:-30px;
      color:$color-primary2;
      span{
        background-color: #fff;
        padding:0 15px;
      }
    }

    &-foot{
      margin-bottom:-30px;
      .btn{
        &-outline{
          &-primary2{
            background-color: #fff;
            &:hover{
              background-color: $color-primary2;
              color:#fff;
              border-color:$color-primary2;
            }
          }

          &-danger{
            background-color: #fff;
            &:hover{
              background-color:#dc3545;
            }
          }
        }

        &-edit{
          display: none;
        }

      }
    }

    &.added{
      background-color: #f1f1f7;
      .info{
        &-summary{
          display: block;
        }
        &-input{
          display: none;
        }

        &-card{
          &-foot{
            .btn-edit{
              display: inline-block;
            }
          }
        }
      }
    }
  }

  &-summary{
    overflow-y: auto;
    /* box-sizing: border-box; */
    display: none;
    overflow-x: hidden;

    @media (min-width: 992px){
      max-height: 238px;
    }
  }
}
