@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Montserrat:wght@300;500;600;800&display=swap");
.loader-wrapper {
  display: none;
}
.loader-wrapper.active {
  display: block;
}
.loader-page {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba(30, 50, 47, 0.64);
  background-color: #969696d9;
  color: #fff;
}
.loader-inline {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 15px;
}
.loader-inline .loader-spinner {
  border-color: #ddd;
  border-top-color: #3498db;
}
.loader-inline .loader-inner p {
  margin-top: 5px;
}
.loader-inner p {
  padding-left: 5px;
  margin: 0;
  margin-top: 10px;
}
.loader-spinner {
  border-color: #f2f2f2;
  border-style: solid;
  border-width: 4px;
  border-radius: 9999px;
  width: 2.5rem;
  height: 2.5rem;
  border-top-color: #3498db;
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
  transition-timing-function: linear;
  margin: 0 auto;
}

.loader-div {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #202020;
  background: #202020ad;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
}
.loader-div.active {
  opacity: 1;
  visibility: visible;
}

.lds-spinner {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}

.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
html, body {
  font-size: 16px;
  line-height: 1.7rem;
  font-family: "Montserrat", sans-serif;
}

.font-600 {
  font-weight: 600;
}

.font-bold {
  font-weight: 800;
}

.text-medium {
  font-size: 18px;
  line-height: 1.8;
}
.text-teal {
  color: #009688;
}
.text-grey {
  color: #6e6e6e;
}

.w-75 {
  width: auto !important;
}
@media (min-width: 992px) {
  .w-75 {
    width: 75% !important;
  }
}

.fs-5s {
  font-size: 18px;
}

.btn-long img {
  max-height: 16px;
  position: relative;
  top: -1px;
}
.btn-xl {
  padding-top: 10px;
  padding-bottom: 10px;
}
.btn-icon {
  position: relative;
  transition: 0.2s all linear;
}
.btn-icon-right-arrow:before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 2px;
  background: #fff;
  border-radius: 8px 0 0 8px;
  position: absolute;
  top: 51%;
  right: 5px;
  opacity: 0;
}
.btn-close {
  background: #e5e7eb;
  border: 1px solid #ddd;
  color: #202020;
  padding: 0 !important;
  opacity: 1;
  display: inline-flex;
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: center;
}
.btn-close:hover {
  color: #202020;
  background: #b5bbc7;
  opacity: 0.8;
}
.btn-outline-primary2 {
  border-color: #3f51b5;
  color: #3f51b5;
}
.btn-outline-primary2:hover {
  background-color: #3f51b5;
  border-color: #3f51b5;
}
.btn-image {
  max-height: 18px;
  position: relative;
  top: -2px;
}
.btn-image-hover {
  max-height: 18px;
  display: none;
}
.btn:hover .btn-icon {
  margin-left: 5px;
}
.btn:hover .btn-icon-right-arrow:before {
  opacity: 1;
}
.btn:hover .btn-image {
  display: none;
}
.btn:hover .btn-image-hover {
  display: inline-block;
}
@media (min-width: 576px) {
  .btn-long {
    min-width: 120px;
  }
  .btn-xl {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.form-group {
  margin-bottom: 15px;
}
.form-group label .text-danger {
  display: none;
}
.form-group .error-message {
  margin-bottom: 0;
  line-height: 1.4;
  font-size: 15px;
  margin-top: 2px;
}
.form-group .required-mark {
  display: none;
}
.form-group.required-group .required-mark {
  display: inline-block;
}
.form-group.required-group label .text-danger {
  display: inline-block;
}
.form-group:not(.required-group) .text-danger.error-message {
  color: #3f51b5 !important;
}
.form-check-lg .form-check-input {
  width: 1.4em;
  height: 1.4em;
}
.form-check.platinum .form-check-label {
  color: #dc3545;
}
.form-check.gold .form-check-label {
  color: #ffc107;
}
.form-check.silver .form-check-label {
  color: #0dcaf0;
}
.form-check-input {
  margin-top: 0.4em;
}
.form-control {
  border-color: #959799;
  line-height: 2rem;
}
.form-control.field-v2 {
  border: 1px solid #1b1c1d;
  padding: 0.575rem 0.75rem;
}
.form-control-date {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-color: #959799;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control-date:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.form-select {
  border-color: #959799;
  line-height: 2rem;
}

.input-group-text {
  border-color: #959799;
}

.appearance-none {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.appearance-none:hover, .appearance-none:focus {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.cc-number-holder {
  position: relative;
}
.cc-card-identity {
  position: absolute;
  top: 50%;
  right: 6px;
  transform: translateY(-50%);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cc-card-identity img {
  max-height: 70%;
}
.check-group.focused {
  outline: 1px solid #e91e63;
  transform: scale(1.01);
  border-radius: 4px;
  background: #fff4f4;
}

.radio-group label {
  line-height: 2;
}

.select-box {
  position: relative;
}

.select-box .ajax-loader {
  display: inline-block;
  position: absolute;
  max-height: 20px;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #444;
}

.header {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
}
.header a.mb-3 {
  margin-bottom: 0 !important;
}

.logo-image {
  max-height: 60px;
  max-width: 10rem;
}
@media (min-width: 576px) {
  .logo-image {
    max-height: 100px;
    max-width: 15rem;
  }
}

.logo-power-ms {
  max-height: 40px;
}
@media (min-width: 576px) {
  .logo-power-ms {
    max-height: 60px;
  }
}

.breadcrumb {
  background-color: #212529;
}

.animate__animated {
  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: var(--animate-duration);
  animation-duration: var(--animate-duration);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animate__bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

.animate__pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

.animate__headShake {
  -webkit-animation-name: headShake;
  animation-name: headShake;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

@-webkit-keyframes headShake {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  6.5% {
    -webkit-transform: translateX(-6px) rotateY(-9deg);
    transform: translateX(-6px) rotateY(-9deg);
  }
  18.5% {
    -webkit-transform: translateX(5px) rotateY(7deg);
    transform: translateX(5px) rotateY(7deg);
  }
  31.5% {
    -webkit-transform: translateX(-3px) rotateY(-5deg);
    transform: translateX(-3px) rotateY(-5deg);
  }
  43.5% {
    -webkit-transform: translateX(2px) rotateY(3deg);
    transform: translateX(2px) rotateY(3deg);
  }
  50% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 53%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0) scaleY(1.1);
    transform: translate3d(0, -30px, 0) scaleY(1.1);
  }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0) scaleY(1.05);
    transform: translate3d(0, -15px, 0) scaleY(1.05);
  }
  80% {
    -webkit-transform: translateZ(0) scaleY(0.95);
    transform: translateZ(0) scaleY(0.95);
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0) scaleY(1.02);
    transform: translate3d(0, -4px, 0) scaleY(1.02);
  }
}
@keyframes bounce {
  0%, 20%, 53%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0) scaleY(1.1);
    transform: translate3d(0, -30px, 0) scaleY(1.1);
  }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0) scaleY(1.05);
    transform: translate3d(0, -15px, 0) scaleY(1.05);
  }
  80% {
    -webkit-transform: translateZ(0) scaleY(0.95);
    transform: translateZ(0) scaleY(0.95);
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0) scaleY(1.02);
    transform: translate3d(0, -4px, 0) scaleY(1.02);
  }
}
@keyframes headShake {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  6.5% {
    -webkit-transform: translateX(-6px) rotateY(-9deg);
    transform: translateX(-6px) rotateY(-9deg);
  }
  18.5% {
    -webkit-transform: translateX(5px) rotateY(7deg);
    transform: translateX(5px) rotateY(7deg);
  }
  31.5% {
    -webkit-transform: translateX(-3px) rotateY(-5deg);
    transform: translateX(-3px) rotateY(-5deg);
  }
  43.5% {
    -webkit-transform: translateX(2px) rotateY(3deg);
    transform: translateX(2px) rotateY(3deg);
  }
  50% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
.icon-svg-close {
  width: 20px;
  height: 20px;
}

.membership-alert {
  border: 1px solid #f2f2f2;
  padding: 15px 20px;
  background: #f8f8f8;
}

.select2-container--default .select2-selection--single {
  background: transparent;
  border-color: #838383;
  border-radius: 0.375rem;
  height: 38px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 38px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 38px;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  padding: 0.375rem 0.75rem;
}

.select2-container {
  display: block;
}

.datepicker td, .datepicker th {
  width: 35px;
  height: 28px;
}

.step-form-wrapper {
  border: 1px solid #f8f8f8;
  position: relative;
}
.step-form-main {
  background-color: #fff;
}
.step-form-main-row {
  background-color: #fff;
}
@media (min-width: 576px) {
  .step-form-main-row {
    border: 1px solid #ddd;
  }
}
.step-form-sidebar {
  background-color: #f8f7fa;
  position: absolute;
  display: none;
}
@media (min-width: 992px) {
  .step-form-sidebar {
    display: block;
    position: relative;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #ddd;
    padding-left: 3.2rem;
  }
}
.step-list {
  position: relative;
  min-height: 100px;
  padding-left: 30px;
}
.step-list .step-summary {
  display: none;
  padding-bottom: 5px;
  border-top: 1px solid #c3c3c3;
  padding-top: 6px;
}
.step-list:after {
  content: "";
  width: 1px;
  border-right: 2px dashed #a09595;
  position: absolute;
  top: 9px;
  left: 0;
  bottom: -7px;
}
.step-list .edit {
  display: none;
}
.step-list .step-summary {
  display: none;
}
.step-list .btn-sm {
  line-height: 1;
}
.step-list .btn-sm img {
  max-height: 15px;
  position: relative;
  top: -1px;
}
.step-list.active .step-title {
  color: #0d6efd;
  opacity: 1;
}
.step-list.active .step-mark {
  width: 30px;
  height: 30px;
  left: -14px;
  border-color: #0d6efd;
}
.step-list.active .step-mark:after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 15px;
  background-color: #0d6efd;
}
.step-list.completed .edit {
  display: block;
}
.step-list.completed .step-summary {
  display: block;
}
.step-list.completed:after {
  border-color: #0d6efd;
}
.step-list.completed .step-mark {
  background-color: #0d6efd;
  border-color: #0d6efd;
  width: 20px;
  height: 20px;
  left: -9px;
}
.step-list.completed .step-mark img {
  display: inline-block;
  max-width: 12px;
  max-height: 12px;
  margin: 0 auto;
  position: relative;
}
.step-list.completed .step-title {
  opacity: 1;
}
.step-list.completed .step-summary {
  display: block;
}
.step-list.completed.active .step-mark {
  width: 30px;
  height: 30px;
  background: #f8f7fa;
}
.step-list.completed.active .step-mark img {
  display: none;
}
.step-list.completed.active .step-summary {
  display: none;
}
.step-list.completed.active .edit {
  display: none;
}
.step-list-sidebar {
  padding: 20px 0;
}
@media (min-width: 576px) {
  .step-list-sidebar {
    padding: 50px 0;
    height: 100%;
  }
}
.step-list.last {
  min-height: 0;
}
.step-mark {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid #c7c7c7;
  background-color: #f8f7fa;
  position: absolute;
  left: -11px;
  top: 2px;
  z-index: 9;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.step-mark img {
  display: none;
  max-height: 16px;
  max-width: 16px;
}
.step-title {
  font-size: 20px;
  font-weight: 600;
  opacity: 0.5;
  line-height: 1.5;
  margin: 0;
}
.step-details {
  padding: 25px 10px;
  position: relative;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #fff;
}
.step-details.step-initial .step-box-foot .btn-prev {
  display: none;
}
@media (min-width: 576px) {
  .step-details {
    padding: 30px 30px;
  }
}
@media (min-width: 768px) {
  .step-details {
    padding: 30px 50px;
  }
}
.step-box {
  display: none;
}
.step-box.active {
  display: block;
}
.step-box-head {
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  padding-bottom: 15px;
}
.step-box-head h3 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 22px;
  margin: 0;
}
@media (min-width: 576px) {
  .step-box-head h3 {
    font-size: 24px;
    letter-spacing: 1px;
  }
}
.step-box-foot {
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}
.step-box-foot.active {
  display: block;
}
@media (min-width: 768px) {
  .step-box-foot {
    padding: 30px 0 0;
  }
}
.toggle-div {
  display: none;
}
.toggle-selector .toggle-sign img {
  max-height: 16px;
  padding-left: 3px;
  position: relative;
  top: 1px;
}
.toggle-selector.toggle-active .toggle-sign img {
  transform: rotate(180deg);
}

@media (max-width: 767px) {
  .step-list .edit {
    display: none !important;
  }
  .step-title {
    display: none;
  }
}
.skip-step {
  position: absolute;
  bottom: 40px;
  right: 0;
}
@media (min-width: 992px) {
  .skip-step {
    bottom: 40px;
    right: 50px;
  }
}

.checkout-summary .table tr th, .checkout-summary .table tr td {
  padding: 0.3rem 1rem;
}
.checkout-summary .table thead th {
  background-color: #cccccc;
}

.billing-info-inner.d-none .form-group {
  display: none;
}

.info-card {
  padding: 15px;
  border: 1px solid #3f51b5;
  border-radius: 0.4rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
}
.info-card-list .info-card.only-one-row.added .info-card-foot {
  margin-bottom: -30px;
}
.info-card-list .info-card.only-one-row.added .info-card-foot .btn-remove {
  display: none;
}
.info-card-list .info-card.only-one-row .info-card-foot .btn-remove {
  display: none;
}
.info-card-title {
  margin-top: -30px;
  color: #3f51b5;
}
.info-card-title span {
  background-color: #fff;
  padding: 0 15px;
}
.info-card-foot {
  margin-bottom: -30px;
}
.info-card-foot .btn-outline-primary2 {
  background-color: #fff;
}
.info-card-foot .btn-outline-primary2:hover {
  background-color: #3f51b5;
  color: #fff;
  border-color: #3f51b5;
}
.info-card-foot .btn-outline-danger {
  background-color: #fff;
}
.info-card-foot .btn-outline-danger:hover {
  background-color: #dc3545;
}
.info-card-foot .btn-edit {
  display: none;
}
.info-card.added {
  background-color: #f1f1f7;
}
.info-card.added .info-summary {
  display: block;
}
.info-card.added .info-input {
  display: none;
}
.info-card.added .info-card-foot .btn-edit {
  display: inline-block;
}
.info-card.added .info-card-foot .btn-save {
  display: none;
}
.info-summary {
  overflow-y: auto;
  /* box-sizing: border-box; */
  display: none;
  overflow-x: hidden;
}
@media (min-width: 992px) {
  .info-summary {
    max-height: 238px;
  }
}

.coupon-code-wrapper {
  border: 1px solid #212529;
}
.coupon-code-wrapper-head {
  padding: 0.6rem 1.3rem;
  background-color: #212529;
  font-size: 1.1rem;
  font-weight: 600;
  color: #fff;
}
.coupon-code-wrapper-body {
  padding: 1rem 1.3rem 1.2rem;
}

@media (min-width: 768px) {
  .main-wrapper.thank-page {
    margin-top: 30px;
  }
}
.main-wrapper.thank-page.v2 {
  margin: 0;
  padding: 0;
}

.thank-wrapper-inpage {
  display: none;
}
.thank-wrapper-inpage.active {
  display: block;
}
.thank-wrapper.v2 .thank-message {
  background-color: #f2f2f2;
  padding: 30px 15px 15px;
  border: 0;
}
@media (min-width: 768px) {
  .thank-wrapper.v2 .thank-message {
    padding: 40px;
  }
}
.thank-message {
  border-bottom: 1px solid #ddd;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
}
.thank-message .icon-holder img {
  max-width: 55px;
}
.thank-message-text .thank-text {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 10px;
  color: #179953;
}
@media (min-width: 768px) {
  .thank-message-text .thank-text {
    font-size: 2.2rem;
  }
}
.thank-message-text .order-number {
  font-size: 18px;
}
.thank-details .sidebar-block {
  overflow: hidden;
  border: 1px solid #8b8b8b;
  border-radius: 10px;
}
.thank-details .sidebar-block-title {
  background-color: #8b8b8b;
  margin: 0;
  color: #fff;
}
.thank-details .sidebar-block-description {
  background-color: #fff;
  min-height: 160px;
}
.thank-foot {
  position: static;
}
.event-title {
  font-size: 22px;
  font-weight: 600;
}
@media (min-width: 768px) {
  .event-title {
    font-size: 32px;
  }
}

.social-share {
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .social-share {
    padding-top: 0px;
  }
}

.social-share span {
  font-size: 15px;
  font-weight: 600;
  color: #000;
}
@media (min-width: 768px) {
  .social-share span {
    font-size: 20px;
  }
}

.social-share-ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.social-share-ul li a {
  display: block;
  padding: 0 5px;
}
.social-share-ul li a img {
  max-width: 30px;
}
.social-share-ul li a:hover {
  opacity: 0.8;
}
@media (min-width: 768px) {
  .social-share-ul li a img {
    max-width: 50px;
  }
}

.title-indication {
  font-weight: 600;
  letter-spacing: 2px;
}

.modal-confirm {
  top: 44%;
  transform: translateY(-50%) !important;
}

.event-info-box {
  padding: 30px 25px;
  border: 1px solid #ddd;
  border-radius: 12px;
  margin-bottom: 20px;
  align-items: center;
}
.event-info-box-image {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  background-color: #dae6df;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.event-info-box-image img {
  max-width: 60%;
}
.event-info-box-body {
  padding-bottom: 0;
}
.event-info-box.v2 {
  padding: 0;
  border: 0;
  height: auto;
  align-items: center;
}
.event-info-box.v2 .event-info-box-body {
  padding: 0;
}
@media (min-width: 768px) {
  .event-info-box {
    margin-bottom: 0;
  }
}

.text-black {
  color: #202020;
}

.text-medium {
  font-size: 18px;
}

.font-600 {
  font-weight: 600;
}

.extra-info {
  max-width: 750px;
  margin: 0 auto;
  font-size: 18px;
}
.extra-info-row img {
  max-width: 45px;
}
@media (min-width: 576px) {
  .extra-info-row img {
    max-width: 65px;
  }
}

.main {
  background-color: #f8f7fa;
}
.main-wrapper {
  background-color: #f8f7fa;
}

.breadcrumb {
  display: none;
}

.section-title {
  font-size: 32px;
  font-weight: 800;
  line-height: 1.4;
}
@media (min-width: 576px) {
  .section-title {
    letter-spacing: 1px;
  }
}
.section-title span {
  position: relative;
}
.section-title span:after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 4px;
  background-color: #772f30;
  border-radius: 8px;
  bottom: -18px;
}

.icon-list {
  line-height: 1.8;
}
.icon-list img {
  max-height: 18px;
  margin-right: 7px;
  position: relative;
  top: -2px;
}

.card-accordion {
  margin-bottom: 30px;
  border-bottom-width: 0;
}
.card-accordion .card-header {
  cursor: pointer;
}
.card-accordion .card-body {
  display: none;
}
.card-accordion-icon .plus {
  display: block;
}
.card-accordion-icon .minus {
  display: none;
}
.card-accordion.active {
  border-bottom-width: 1px;
}
.card-accordion.active .card-body {
  display: block;
}
.card-accordion.active .card-accordion-icon .plus {
  display: none;
}
.card-accordion.active .card-accordion-icon .minus {
  display: block;
}

.otp-wrapper {
  display: none;
}
.otp-wrapper.active {
  display: block;
}

.email-wrapper {
  display: none;
}
.email-wrapper.active {
  display: block;
}

.secure-alert img {
  max-height: 22px;
}

.auto-renew-wrapper {
  padding: 8px 15px;
  background-color: #f2f2f2;
  border-radius: 0 0 4px 4px;
  border: 1px solid #ddd;
  border-top: 0;
}

.after-hr {
  margin-top: -16px;
}

.donation-wrapper-title {
  background: #2196f3;
  color: #fff;
  margin: -17px;
  margin-bottom: 10px;
  padding: 8px 15px;
  text-transform: uppercase;
}
.donation-wrapper .input-group-text {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.alert-note {
  margin: 0 -1rem -1rem -1rem;
  border-radius: 0 0 0.375rem 0.375rem;
  font-size: 0.94rem;
  line-height: 1.4;
  padding: 0.64rem 1rem;
}

.iti__selected-flag {
  border-right: 1px solid #ddd;
}

.table > :not(caption) > * > * {
  padding: 0.3rem 0.5rem;
}

.fs-small {
  font-size: 0.8rem;
}

.card-image img {
  max-height: 30px;
  max-width: 36px;
}

.bg-success-light {
  --bs-bg-opacity: 0.2;
}

.footer {
  background-color: #050b0e;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
